.circle {
  position: fixed;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px dashed red;
}
@keyframes show {
  0% {
    opacity: 0;
    top: -200px;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    top: 50%;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle-show {
  animation: show 0.5s forwards;
}
.circle-hide {
  animation: show 0.5s reverse forwards;
}

.circle-rotate {
  animation: rotate 0.5s infinite forwards;
}
.bg{
  background: var(--black);
  color: white;
  width: 100px;
  height: 100px;
}